In [12]:
import pandas as pd
import matplotlib.pyplot as plt 
import datetime

df_data = pd.read_excel("/Users/shakhawathossainturag/Desktop/Thesis/Price data/Final data/when2heat_DE.xlsx",sheet_name='Sheet2',usecols = "A,B,C,J",skiprows=3)
df_data["Unnamed: 1"]= df_data["Unnamed: 1"].str.slice(start = 11)
df_data["unit"]= df_data["unit"].str.slice(stop = 10)
sum_column = df_data["MW"] + df_data["MW.7"]
df_data["heat_demand"] = sum_column


df_data = df_data.drop(['MW','MW.7'], axis = 1)
df_data.unit =  pd.to_datetime(df_data.unit, errors='ignore')


df_data.columns = ["date", "hour", "heat_demand"]
df_data['date'] = df_data['date'].dt.date
df_data.hour =  pd.to_datetime(df_data.hour, errors='ignore', format="%H:%M:%S").dt.time
df_data

            date      hour  heat_demand
0     2012-01-01  01:00:00        59491
1     2012-01-01  02:00:00        57734
2     2012-01-01  03:00:00        62913
3     2012-01-01  04:00:00        77677
4     2012-01-01  05:00:00       105238
...          ...       ...          ...
8779  2012-12-31  20:00:00       102112
8780  2012-12-31  21:00:00        92392
8781  2012-12-31  22:00:00        72030
8782  2012-12-31  23:00:00        58262
8783  2012-12-31  00:00:00        56770

[8784 rows x 3 columns]

In [43]:
df_data.date.drop

date           datetime64[ns]
hour                   object
heat_demand             int64
dtype: object

In [13]:
heat_demand_pivot = df_data.pivot(index = 'date', columns = 'hour', values = 'heat_demand')
heat_demand_pivot

ValueError: Index contains duplicate entries, cannot reshape

In [11]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'date': pd.date_range(start = '2020-01-01', end = '2020-12-31', freq = 'H')})
df['dtDate'] = df['date'].dt.date
df['intHour'] = df['date'].dt.time
df['dblPrice'] = 45 + 10*np.random.rand(len(df))
df = df.drop('date', axis = 1)
df

          dtDate   intHour   dblPrice
0     2020-01-01  00:00:00  51.238769
1     2020-01-01  01:00:00  50.238241
2     2020-01-01  02:00:00  50.009654
3     2020-01-01  03:00:00  50.676380
4     2020-01-01  04:00:00  47.197961
...          ...       ...        ...
8756  2020-12-30  20:00:00  48.909761
8757  2020-12-30  21:00:00  51.363443
8758  2020-12-30  22:00:00  52.154864
8759  2020-12-30  23:00:00  51.400190
8760  2020-12-31  00:00:00  54.628231

[8761 rows x 3 columns]

In [8]:
pivot = df.pivot(index = 'dtDate', columns = 'intHour', values = 'dblPrice')

In [9]:
pivot

intHour,00:00:00,01:00:00,02:00:00,03:00:00,04:00:00,05:00:00,06:00:00,07:00:00,08:00:00,09:00:00,...,14:00:00,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00
dtDate,,,,,,,,,,,,,,,,,,,,,
2020-01-01,48.971379,52.907236,46.384418,49.699693,45.178216,46.997013,45.176871,54.421402,53.020920,53.723469,...,54.244803,50.469297,47.614223,48.365646,53.887731,51.566216,52.421369,48.794932,51.092208,50.211576
2020-01-02,54.623933,48.222266,45.056203,53.878911,45.072409,50.937464,48.830015,48.346766,49.985792,47.672073,...,46.848472,52.742926,45.149928,46.966572,54.996928,54.935062,48.877566,47.902078,50.488909,47.916869
2020-01-03,54.743095,48.028855,46.224455,53.113279,49.953259,49.245798,51.480279,51.468992,49.649767,46.074179,...,46.791569,52.654917,50.069362,54.000949,50.339197,51.731591,46.983797,46.978396,49.399099,53.754405
2020-01-04,46.682763,50.700147,53.500447,47.645889,47.553053,50.922801,45.633165,47.102768,54.321631,53.843279,...,47.834140,53.560381,53.845751,53.590113,54.547536,53.542800,53.269956,49.002142,47.166034,51.762145
2020-01-05,47.290884,53.258630,53.628926,49.552691,47.298127,52.297099,51.024017,50.919178,51.139085,45.166140,...,52.246261,51.546770,52.505832,48.992159,54.430943,50.750644,48.348611,51.218011,52.275569,48.995498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-27,46.304879,50.826731,45.858650,47.467910,50.942267,48.631667,46.709966,53.689061,48.278412,50.756530,...,50.890608,52.251840,46.468022,54.460642,54.696142,49.077355,54.851250,50.220846,53.463417,48.412999
2020-12-28,49.680051,47.661275,50.513697,52.285379,46.851554,49.731332,48.008647,51.590800,50.271431,53.490190,...,54.705428,53.949140,47.040445,45.400431,53.560074,54.388345,48.888114,49.638879,53.183442,47.710275
2020-12-29,52.005889,49.710279,45.430643,53.645227,50.513896,51.211771,49.362062,51.288376,52.161633,54.719218,...,54.589217,51.612973,46.638679,53.568617,53.077667,45.807697,52.183106,54.675085,51.776637,53.584628
2020-12-30,49.151773,52.142845,49.132149,54.742748,47.637087,48.914707,45.109483,46.991423,53.225456,46.516102,...,54.022183,50.835075,47.059935,47.881595,46.155374,50.015470,54.778825,50.685878,45.355260,52.741584
2020-12-31,51.987217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN